<p>Lets add a category!</p>

<form action="/save-place">
  <input type="text" placeholder="Enter name!" name="name">
  <input type="text" placeholder="Enter attractions!" name="attractions">
  <input type="text" placeholder="Enter hours of operation!" name="hours of operation">
  <input type="text" placeholder="Enter the address!" name="address">
  <p>is there a parking garage?</p>
  <select name="parking_garage">
        <option>  true   </option>
        <option>  false   </option>
  </select>
  <input type="submit">
</form>

<a href="/home">GO HOME!</a>









attractions
-age requirement
-hours of operation
-address
-parking garage - boolean