<!DOCTYPE html>
<html>
    <head>
        <title>Event Organizer Pro</title>
        <link rel="stylesheet" href="/global.css">
    </head>

    <body>

    <%= yield %>


    <footer>By Patrick Carlton</footer>


    </body>


</html>