<h1>Welcome to Event Organizer pro</h1>

<%if @name  %>
    <h2><%= @name %> has been deleted!</h2>
<%end%>

<h2>What Would you like to do?</h2>

<ul>
  <li><a href="/manage-user">Manage user</a></li>
  <li><a href="/manage-place">Manage place</a></li>
</ul>


