<h1>Welcome to Event Organizer pro</h1>

<h2>What Would you like to do?</h2>

<ul>
  <li><a href="users/manage-user">Manage user</a></li>
  <li><a href="places/manage-place">Manage place</a></li>
</ul>