<h1>What would you like to do?</h1>

<ul>
  <li><a href="/users-list">Like a place</a></li><br>
  <li><a href="/view-all-likes">view all likes</a></li><br>
  <li><a href="/delete-like">Delete a like</a></li><br>
  <li><a href="/user-list-single-view">view a users likes</a></li><br>
</ul>

<a href="/home">GO HOME!</a>