<h1>Lets make some changes!</h1>

<form action="/save-change-user">
  <input type="hidden" name="x" value="<%=@d.id%>">
  <input value = "<%= @d.name %>" type="text" placeholder="Enter name" name="name">
  <input type="submit">
</form>

<a href="/home">GO HOME!</a>