<h1>What would you like to do?</h1>


<nav>
<ul>
  <li><a href="/new-user-form">Add a user</a></li><br>
  <li><a href="/edit-user-list">edit a user</a></li><br>
  <li><a href="/delete-user">Delete a user</a></li><br>
  <li><a href="/view-users">view all user</a></li><br>
</ul>
</nav>
<a href="/home">GO HOME!</a>